*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./images/57bbb8f343f67ed95d117896_pokemon-go-logo.jpg");
  background-position: center;
}
